<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
    <title> Pagina inicial </title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/home_page.css') }}"  rel="stylesheet">
</head>

<body>
<div style="width: 400px; margin-top: 123x; margin: auto;  ">


        <h4>Usuário: {{ user['username'] }}</h4>
        <a style="margin-bottom:100px" href="\login">Sair </a>

    <form method="POST" action="/create_time_line" style="margin-top=60px">
         Comentário:
         <input name="content" type="text" required >
         <button class="btn btn-primary" type="submit" style="margin-left:20px">Publicar</button>
    </form>

    <ul style="border-top: 1px solid #ccc; margin-top:10px" class="list-group">
        {% for line in time_lines %}
        <li style="border-top: 1px solid #efefef;" class="list-group-item">
            <p><b>{{line['username']}}</b> {{ line['content']  }} </p>
            {% if line['user_id'] == user['id'] %}
            <a href="/delete/time_line/{{ line['id'] }}" style="margin-left:220px" >Apagar comentário</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>