<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Entrar (Inseguro)</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='assets/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/signin.css') }}"  rel="stylesheet">
  </head>
  <body class="text-center">
    <form method="POST" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Entrar</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="username" type="text" id="username" class="form-control" placeholder="Usuário" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>

      <div class="checkbox mb-3">
        {% if  erro == '1' %}
          <div class="alert alert-danger" role="alert">
          Usuário ou senha incorretos !
          </div>
        {% endif %}
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
  </body>
</html>
